target/
.idea/
.vscode/
*.iml
*.log
.DS_Store
src/main/resources/fr/alescis/aelia/fonts/*.ttf
src/main/resources/fr/alescis/aelia/fonts/*.otf
src/main/resources/fr/alescis/aelia/fonts/*.woff
src/main/resources/fr/alescis/aelia/fonts/*.woff2
